[2011-01-26 21:41] huin opened #2 "Basic item physics"
Item position, velocity etc. needs to be simulated server-side. For now it should be enough to simply simulate simple friction and gravity. Water movement effects can wait.

[2011-01-26 21:44] huin opened #3 "Basic inventory management"

[2011-01-26 21:44] huin opened #4 "Light recalculation"
When blocks are added or removed, the lighting needs to be updated.

[2011-01-26 21:45] huin opened #5 "Add blocks and items added in 1.2 beta"
Only basic definitions for now, no need to add any specialised logic for them.

[2011-01-26 21:47] huin opened #6 "Decode map chunk data"
This isn't important for the core server, but potentially useful for anyone using the chunkymonkey/proto package for a client.

[2011-01-26 21:52] huin opened #7 "Player block placement"
This might need inventory management completed first.

[2011-01-26 21:57] huin opened #8 "Rearchitect to have chunks run their own goroutine."
For value in doing this, it's specifically important to move physics into the chunk layer. Chunks will need to receive "tick" messages from the game loop.

Chunk access to data that changes will have to be isolated to be thread-safe. For this reason things like physics that need to access the changeable chunk data need to be run inside the chunk goroutine. Small messages from players digging etc.

[2011-01-26 22:08] huin opened #9 "Implement item pickup"
This might need basic inventory management completed first.

[2011-01-30 17:54] #2 closed, assigned to huin

[2011-01-30 19:06] huin opened #10 "Mineserver player authentication"
See http://mc.kev009.com/Authentication

[2011-01-31 21:39] #10 closed, assigned to huin

[2011-02-06 18:20] #8 closed, assigned to huin

[2011-02-06 18:31] huin opened #11 "Investigate changing packet multicast implementation to be a simple filter system"

[2011-04-16 19:51] #9 closed, assigned to huin

[2011-04-17 13:16] #3 closed, assigned to huin

[2011-04-17 13:19] #11 closed, assigned to nobody

[2011-04-17 13:20] huin opened #12 "Torch, flowers, etc. can't be destroyed or picked up"
The notchian client doesn't send a "finished digging" packet for these block types. They should be destroyed on first hit.

[2011-04-17 15:21] #12 closed, assigned to huin

[2011-04-18 20:23] #7 closed, assigned to huin

[2011-04-19 20:04] huin opened #13 "Update to protocol Beta 1.5"

[2011-04-19 20:05] huin opened #14 "Refactor block code"
- Separate block specific behaviour behind an interface.
- Store block data in external files.

[2011-04-19 20:05] huin commented on #14
Developing in the block_refactor branch

[2011-04-19 20:06] huin commented on #13
Developing in the proto1.5 branch. Will merge when it seems to working with the Beta 1.5 client.

[2011-04-19 20:08] huin commented on #13
Waiting for the protocol to get reversed engineered before this can progress.

[2011-04-23 09:16] #14 closed, assigned to huin

[2011-04-23 09:16] #5 closed, assigned to nobody

[2011-04-23 09:16] #13 closed, assigned to nobody

[2011-04-23 09:17] huin opened #15 "Recipe system"
Implement a recipe system that can be defined by an external data file.

[2011-04-23 09:19] huin opened #16 "Recipe data for Beta 1.5"
Implement all recipes in Beta 1.5 (or at least, those known on the wiki).

[2011-04-23 09:20] huin opened #17 "Implement furnace system"
Probably worth working on the recipe stuff first, as this _might_ use some of the same concepts/code.

[2011-04-23 09:21] huin opened #18 "Create furnace recipes from Beta 1.5"

[2011-04-25 05:18] fhs opened #19 "fmt.Errorf misuse"
fmt.Errorf doesn't do what the code thinks it does. See http://golang.org/pkg/fmt/#Errorf

$ grep -nr fmt.Errorf src/
src/inspectlevel/inspectlevel.go:70:        fmt.Errorf("Error loading world: %s\n", err)
src/inspectlevel/inspectlevel.go:79:        fmt.Errorf("Error loading chunk: %s\n", err)

[2011-04-26 17:24] huin commented on #19
Thanks, I only recently learned what the function did through an unrelated project - forgot I'd used it there.

[2011-04-26 17:25] #19 closed, assigned to nobody

[2011-04-29 18:56] huin opened #20 "Move to a proper inventory window implementation"
Minecraft presents several views onto "inventories" via windows that combine several inventories together.

[2011-04-29 18:57] huin commented on #16
Fixed in 26eaa32fb2112fa1573b

[2011-04-29 18:57] #16 closed, assigned to huin

[2011-05-02 10:09] huin opened #23 "Rework block interaction"
Block interaction currently only allows for block placement. This needs to be extended to allow for 3x3 crafting, furnace operation and other special block interactions.

[2011-05-02 10:09] #15 closed, assigned to huin

[2011-05-02 10:10] huin commented on #20
Bulk of background work done on this. Need to implement some more windows on top of it.

[2011-05-02 10:12] huin commented on #17
It's worth waiting on the block interaction rework to complete for this, as that is a prereq for furnace interaction. It should also shake out any issues with the crafting system that might similarly impact the furnace system.

[2011-05-02 16:18] huin opened #24 "Move Record/Playback out of core server"
The record and playback package is a useful tool, but is currently used only in the server code, which also restricts its usefulness. It would be useful to place the recorder into a proxy relay (perhaps the intercept program, selected by command line flag), and playback into yet another program.

This could aid some automated/repetitive testing of the server, and allow for more flexible testing of

[2011-05-02 16:20] #23 closed, assigned to huin

[2011-05-04 00:24] nictuku opened #25 "Basic mobs support"
I'd like to add basic mobs support - that is, have the ability to spawn mobs, but initially without any strong AI, which of course we should also add later.

If anybody else wants to work on this, please contact me via github so we can sync up and avoid duplicating work.

[2011-05-04 07:46] huin commented on #25
Sounds awesome, will bring the server to life a bit.

[2011-05-04 07:49] huin opened #26 "Implement chat sanitization"
Clients can be crashed if sent malformed color codes or over-long messages via chat. This should be prevented.

[2011-05-04 07:59] huin opened #27 "Block placement/digging quirks"
To reproduce:
- Place a torch (or use an existing placed torch)
- Place a block _against_ the torch

Expected:
- The block should not be placeable against the torch

This might be a simple case of making the torch non-attachable (if it isn't already), but there seems to be some quirks around how the placed block acts after being placed when it is subsequently dug. The client acts as if the server

[2011-05-04 08:18] huin opened #28 "Check build against Go release 57.1"
In order to be able to increase unit test coverage, a mocking library is required. GoMock ( https://code.google.com/p/gomock/ - not to be confused with the package of the same name that I [huin] wrote) should be fit for this purpose. It is hoped that GoMock will compile against the latest stable "release" tags of the official Go toolchain.

Please add comments to this issue if there are any concer

[2011-05-04 08:22] huin opened #29 "Change channel usage to check for closed channels"
Release 57 brings in channel-read time checking for if a channel is closed. The current use of channels should be checked to see if there are places where this could benefit the codebase.

http://golang.org/doc/devel/release.html#r57

[2011-05-04 20:58] huin commented on #28
Compiles cleanly against release 57.1

[2011-05-04 20:58] #28 closed, assigned to nobody

[2011-05-05 01:32] nictuku commented on #25
As a sub-product of this, I want to make a http://wiki.vg page to document all 'metadata' transformations that can be applied to a mob spawn packet, by cataloging all mobtype+metadata combinations seen in a notchian server.

Whenever "intercept" shows an unknown combination coming from a notchian server, I'll record that and make a similar mob appear in our own server in front of my player, so we

[2011-05-05 07:58] huin commented on #25
Sounds like a good plan to me, and has good community benefits. I've gained a lot from that wiki.

[2011-05-05 18:58] ghost commented on #26
I implemented checking of color-tags and illegal characters in a chat message for WriteChatMessage() in proto.go .
You wrote a TODO item in the readChatMessage() function "// TODO sanitize chat message", do we need to check what clients write as well? I guess it makes sense if different types of clients connect to the server and one sends "illegal" chars or color-tags which could crash the main cl

[2011-05-05 19:02] ghost commented on #29
I could cleanup the channel code.

[2011-05-05 19:09] huin commented on #26
It wouldn't be a bad idea to do that at all, no. Should probably create issues that limit the amount of data that clients can send to the server in a packet, if for no other reason than stopping them from being able to make the server allocate lots of memory... One such place is in the chat messages from the client. This could be an issue in its own right, however.

[2011-05-05 19:09] huin commented on #29
Feel free to grab the issue if you want to do it, thanks :)

[2011-05-06 09:00] huin opened #30 "Discuss: Reassess server concurrency design"
The current design makes use of both synchronous locking mechanisms, and also passing functions via channels. This could likely stand some improvement. I don't have clear ideas about what shape it should take, but I'd like to foster some discussion about how to:
- Achieve a design that is easy to understand and to add features into.
- Avoid race conditions and deadlock.
- Enables movement towards

[2011-05-07 09:03] huin opened #31 "Items lost when 3x3 crafting window closed"
Items should be ejected from the workbench inventory into the chunk when no players have a connected crafting window open.

[2011-05-07 09:06] huin opened #32 "Players should be able to interact with a workbench together"
When two players use the same workbench at the same time, they should see the items in the workbench crafting area that the other has placed, and be able to take items (both crafted and input).

This bug overlaps somewhat with the workbench not dropping items when the window is closed. The items should drop when the last player closes the window.

[2011-05-07 09:08] huin opened #33 "Tidy up block addressing"
The chunk module addresses blocks in multiple ways (BlockXyz, ChunkXz+SubChunkXyz, index, shift), depending on context. These get passed as separate parameters a lot, and should be consolidated (including when passed to block aspects).

[2011-05-07 09:46] #20 closed, assigned to huin

[2011-05-07 15:15] huin commented on #25
http://www.minecraftwiki.net/wiki/Alpha_Level_Format/Chunk_File_Format <- there's some information on this other wiki that should be useful here.

[2011-05-08 10:22] #32 closed, assigned to huin

[2011-05-08 10:42] huin opened #34 "Remove workbench inventory from chunk when workbench removed"

[2011-05-08 16:06] ghost commented on #26
Fixed with commit 4863198645a512ca1f42 . Both write and read ChatMessage functions are checked against illegal chars and color tag endings.

[2011-05-08 16:06] #26 closed, assigned to nobody

[2011-05-08 16:15] #31 closed, assigned to huin

[2011-05-08 16:22] ghost commented on #29
I checked all code and couldn't find a closed() function in use.
I also checked the player code if I could somewhere include checks against closed channels. I commit it in https://github.com/huin/chunkymonkey/commit/fab87d27f5d2a423ec9e5c98581b59ec42c4e410 but I don't know if this is what you thought about.

[2011-05-08 16:41] ghost commented on #30
I would avoid locks and use channels only. This would probably mean one goroutine is the maximum for one object(struct). I would use a "update" function to go through each incoming channel data and pass processed data out through a channel. Time based function could be triggered with time.Tick(ns).
Scaling over multiple hosts could be implemented with the package netchan. This way we could export

[2011-05-08 16:49] huin commented on #29
That might well be enough for now - I feel that it would be better to use close(c) to indicate end-of-data rather than putting nil down it as I currently do in player.go. This is a pattern that needs some improvement when it comes to closing down goroutines (e.g chunk goroutine when the chunk is unloaded).

However, I'm not clear what to do about avoiding a send from panicing if a channel is close

[2011-05-08 17:00] huin commented on #30
Agreed. As soon as I imported "sync" the first time I felt that I was going down the wrong path. Locks are feeling rather clumsy. Which is, in part, the reason I'm bringing this issue up (I still feel relatively new to Go in respect to applying correct design patterns).

Pseudo code examples would be handy.

There are a few places in the code where some sort of transaction/synchronization is requi

[2011-05-08 17:05] huin commented on #30
Actually, my biggest fear at the moment is running the code into a deadlock situation. The communication graph at the moment is cyclic - which I'm fairly sure increases the likelihood of deadlocking. However, given that communication needs to happen from players to chunks _and_ vice-versa, I don't think that the cyclic nature of things is avoidable (at least, not without significantly re-thinking

[2011-05-08 17:34] #34 closed, assigned to huin

[2011-05-08 17:46] huin commented on #33
Fixed in that a BlockInstance is passed to block aspects.

[2011-05-08 17:46] #33 closed, assigned to huin

[2011-05-09 13:48] ghost commented on #30
A simple example of the handling of goroutines and channels I meant https://gist.github.com/962537
The problem for me is, I don't know the code and it's structure. Same goes for the goroutines. Overall I don't have a good overview of the implementation.
So I can't really suggest anything specific.

[2011-05-09 14:00] huin commented on #30
It's a decent enough example. I've been thinking of something similar for the chunks when it comes to doing things like the block automata and furnace timers etc. - the time/channel recv. pattern will be very useful there.

In the player I'm unsure if it's possible (or desireable) to reduce the goroutines per-se... However:
- The transmit loop is harmless, as it just consumes from the queue and wr

[2011-05-09 14:17] ghost commented on #30
Another idea would be to use channels like events.
Like there: https://gist.github.com/962587
The problem is handling functions which get a value, like Player.GetName() string .
The best solution in this example is to make everything channel based so no calling of Get\* function is necessary.

[2011-05-09 14:30] ghost commented on #30
You could do something like this:
A goroutine for each TCP connection which reads and writes from the socket. Write and read data is collected/send through two channels.
Example from one of my projects: https://gist.github.com/962615

Edit:
I forgot to say/include that all channels could be made buffered. With buffered channels most waiting for free channels can be avoided.

[2011-05-09 14:36] ghost commented on #29
This is related to https://github.com/huin/chunkymonkey/issues/30 .
Changing goroutine/channel related code before closing issue #30 is kinda pointless since issue #30 will probably rewrite or change a lot of the related code.
Since the code compiles I am closing this issue.

[2011-05-09 14:36] #29 closed, assigned to nobody

[2011-05-09 14:38] huin commented on #29
Agreed.

[2011-05-09 14:49] huin commented on #30
Awesome - I'll take a look at these this evening :)

[2011-05-09 16:26] nictuku commented on #30
More or less related to this, I think we should set our scalability targets more clearly. How many users in a server do we want to support?

I'd vote for 1000 concurrent users as a target. We could mention this explicitly in the "Intent" section of the design doc. It would bring more interest to our project.

[2011-05-09 16:40] ghost commented on #30
I would say as many as the machine can handle. And if it can't handle more a second machine is used. Isn't this the goal of chunkymonkey to scale across different machines?
So if you are a Minecraft admin and you reached the limit of the amount of users your server can handle you just rent another one and add it to the "pool".

[2011-05-09 16:41] huin commented on #30
With a good distributed architecture, we should be able to achieve very high numbers of people in a world by sharding by world location (effectively unlimited, at least in comparison to existing MC servers). Of course, when it comes down to a locality "shard" there will have to be much more limited numbers before a locality becomes overloaded.

1000 concurrent users in a world sounds reasonable in

[2011-05-09 19:02] nictuku commented on #30
We need to get more data before determining specific hardware requirements. I don't know how much CPU/RAM a busy notchian server uses.

In the meantime, we could project something like:

If one notchian server with 100 concurrent users uses X CPU, we want at most 10 times X - already considering the synchronization overhead of having multiple servers.

We'll probably have an efficient use of RAM t

[2011-05-09 19:12] huin commented on #30
If it helps, chunkymonkey uses <1/10th the CPU of the notchian server at the moment for just the one idlish connected player. Although that's likely due in large part to the missing features of active things like mobs and block behaviour. I assume that the notchian server wasn't generating terrain at the time as it had had plenty of time to stabilise after I logged into it.

[2011-05-09 19:41] huin commented on #30
I think I'll hold off coding for a day or so while I write down a bunch of "processes" that need to occur in running servers (particularly chunk servers where most of the action happens), and how they interact - so that we have a fair overview of what it is that needs wiring up. I think this could be a key aspect of deciding on concurrency models.

[2011-05-09 20:06] nictuku commented on #30
That's a great idea.

[2011-05-09 20:40] huin commented on #30
I've added processes.md with an initial set of game processes that come to mind.

[2011-05-10 11:50] ghost opened #38 "Discuss/design modding capabilities"
At some point chunkymonkey needs modding capabilities.
I write this down to consider this in the issue #30 about concurrency design.

I am just writing down some ideas and information.

Here is a list of possible language bindings for Go;
https://bitbucket.org/rj/golang-javascriptcore/ - This is a wrapper for WebKit's javascript engine for Go
http://github.com/afitz/golua - Go wrapper for LUA's C

[2011-05-10 12:10] huin commented on #38
That's a longer list than I'd been aware of, I think I'd only seen golua. There are likely pros and cons for each choice of language, and modders would likely have input as well.
- random musings follow -

For having modules running independently from the server this would very likely be a speed problems for certain modding scenarios. If something needs to perform repeated queries over a network t

[2011-05-10 13:56] nictuku opened #39 "Mark server as "Down for maintenance""
The minecraft community needs a way to bring a notchian server down for maintenance.

While it doesn't make sense currently to bring chunkymonkey down for maintenance (no permanent storage), it might be useful for admins of notchian servers to run a chunkymonkey server on the same port, so that users are kicked with a helpful message when they try to login to the server.

Initially, a command line

[2011-05-10 14:54] nictuku opened #41 "Let players drop items"
In a notchian server, pressing Q with a item in hand results in the item being dropped - or more properly, thrown.

This currently doesn't work in chunkymonkey.

[2011-05-10 19:48] #39 closed, assigned to nictuku

[2011-05-11 21:07] huin commented on #30
I've been tinkering with some toy code to see how netchan works (quite a neat thing, it turns out), but ran into what appeared to be a possible bug in the package - so I've raised http://code.google.com/p/go/issues/detail?id=1805

Assuming that it is a bug, it'll be good to have this working in an expected manner when it comes to distributing the server... netchan looks like a promising package. A

[2011-05-12 16:53] nictuku opened #42 "Various style discussions"
Since we don't have a mailing list (not saying we need one) I'd like to discuss here a few style changes:
- when naming a method that simply returns Foo, name it Foo() instead of GetFoo().
  ~ GetFoo() is currently common in the code, but one example: item.GetPosition()
- interfaces should be named ISomething, as is the case in interface.go
  ~ there are a few exceptions, but we should probably no

[2011-05-12 17:24] huin commented on #42
I will reply more when I get home, but I think I broadly agree with every
point there.

Additionally,  a mailing list or some other tool is tempting - partly for
dev communication but also as public image. Not sure if we need such a thing
right now but I'm open to suggestions.
On 12 May 2011 17:53, "nictuku" <
reply@reply.github.com>
wrote:

[2011-05-12 18:47] nictuku opened #43 "(unconfirmed) don't drop items from far away chunks before X minutes"
(this is more like a note to self)

I didn't actually test this, but unless this is handled client-side we are probably destroying all items from chunks as soon as they are unsubscribed. I didn't confirm but I believe we unsubscribe right after a player moves away from that chunk.

The desired behavior is that dropped items remain spawned for at least 5 minutes, so the player is able to recover th

[2011-05-12 19:11] huin commented on #43
I'd have to check the behaviour, but the intent is that the client is told to "forget" about items that are in chunks outside their subscribed chunks - the packet naming is perhaps poor (PacketEntityDestroy or similar). The chunk should remember the items, and tell clients about them when they return. Having items disappear after 5 minutes sounds good - I'm not sure how long items last on the offi

[2011-05-12 23:54] nictuku opened #45 "proposal: new directory layout"
My proposal:

src/chunkymonkey:
*block
*chunk
*chunkstore
*inventory
*itemtype
*mob
*nbt
*player
*recipe
entity.go
game.go
gamerules.go
interfaces.go
item.go
physics.go
physics_test.go
proto.go
proto_test.go
record.go
server_auth.go
slot.go
slot_test.go
types.go
types_test.go
worldstore.go

src/main:
chunkymonkey.go

src/util:
*datatests
*dumpblockdefs
*inspectlevel
*intercept

You can see a previ

[2011-05-13 00:23] nictuku commented on #45
I found solutions for the problems I mentioned, so I'm pushing this to my repo and will open a pull request. The sooner we do this the better, since it can be disruptive to our various branches.

[2011-05-13 06:20] huin commented on #45
Looks good.

On the test side of things: I've had that trouble as well, although `make test` should work... at least, it has for me in the past.

[2011-05-13 06:26] huin commented on #45
Note that I see a broken unit test relating to the creeper spawn still, despite the fix. Looks like some metadata bytes changed.

[code]

[2011-05-13 19:50] nictuku commented on #45
hmm that's odd. It works for me..

[2011-05-13 20:04] nictuku commented on #41
The only packet involved here is:

2011/05/13 21:52:49.128080 (C->S) PacketPlayerBlockHit(status=4, blockLoc=&{0 0 0}, face=0)

But the server obviously has to keep track of that item. When a user reconnects after dropping an item, she sees:

2011/05/13 21:57:44.747217 (S->C) PacketItemSpawn(entityId=110080, itemId=268, count=1, data=31, location=&{-2315 2148 611}, orient
ation=&{0 0 0})

[2011-05-13 20:59] nictuku commented on #41
No, after the player does a BlockHit, the following actions happen on the server:

2011/05/13 22:46:04.666135 (S->C) PacketItemSpawn(entityId=8277, itemId=3, count=1, data=0, location=&{-1332 2154 782}, orientation
=&{255 235 22})
2011/05/13 22:46:04.666509 (S->C) PacketEntityVelocity(entityId=8277, velocity=&{-76 -1353 1396})
2011/05/13 22:46:05.557298 (S->C) PacketEntityRelMove(entityId=8277, mo

[2011-05-13 21:06] huin commented on #45
Ah, my bad. My tree was probably in an odd state.

[2011-05-13 21:26] huin commented on #41
https://github.com/huin/chunkymonkey/blob/master/src/chunkymonkey/types.go#L176 <- for DigDropItem (the whole type might be regarded as badly named, that and the packet - mostly the packet names are from the wiki, however)

Note that it's probably best to ignore the item ID, count and data and use player.inventory.TakeOneHeldItem() to take an item into an empty slot.Slot object (that has been .Ini

[2011-05-13 22:15] nictuku commented on #41
Yes, I'm using TakeOneHeldItem().

I'm currently struggling with how to get the player position, again.
chunk.subscriberPos isn't helping in this case.

On Fri, May 13, 2011 at 11:26 PM, huin
reply@reply.github.com
wrote:

##

Yves Junqueira http://cetico.org/about

[2011-05-13 22:23] nictuku commented on #41
Ah, of course. The current chunk is bogus, (the "BlockHit" has a bogus
chunk location in this case), so there are no subscribers.

On Sat, May 14, 2011 at 12:15 AM, Yves Junqueira
yves.junqueira@gmail.com wrote:

##

Yves Junqueira http://cetico.org/about

[2011-05-13 23:28] nictuku commented on #41
Work ongoing in https://github.com/nictuku/chunkymonkey/tree/drop-item

The prototype kind of works, but it's not there yet.

[2011-05-14 08:38] huin commented on #41
The thing to do might be to get the player code to recognize the status 4, create an item from the held item (if anything), then position it in front of the player's head with a small velocity away from the player, then work out the chunk that that item is in and add it to that chunk. Most of the work will occur atomically inside the player, and the chunk can then just accept the new item asynchro

[2011-05-14 09:49] #45 closed, assigned to nictuku

[2011-05-14 15:54] huin opened #47 "Chunk shard refactor"
The plan is to run one master goroutine per "shard" of chunks.

[2011-05-14 15:57] huin opened #48 "Move core player logic into chunk shard goroutine"
Put player data like inventory into the shard (allowing for atomic inventory transactions)

[2011-05-15 11:39] huin commented on #30
As an update: nictuku and I had a chat on IRC and decided to take the following actions:
- Reduce the number of goroutines for chunk handling by putting chunks into "chunk shards", and having one goroutine per shard.
- Move the core player data and logic to run inside the chunk shard that the player is currently within (leaving the client handling code to relay events to the chunk shards and back)

[2011-05-15 15:44] nictuku commented on #42
Should I update README.md with these suggestions?

[2011-05-15 15:50] huin commented on #42
That would be excellent, thanks :)

Ideally styles should be checked by the `style` checker, but it's not a high priority at the moment. I just picked long-hanging fruit of checking interface names.

[2011-05-17 20:17] huin commented on #48
I've been working towards this... But it carries something of a high cost. I'm wondering if it might be more worthwhile keeping the player logic on the frontend server for now. Need to ponder this a bit.

[2011-05-17 20:24] huin commented on #48
To clarify more on the problems... If the player's state exists on the chunk shard, then there exists the problems of:
- Moving the player's state from one shard to another as they move around.
- Moving packets from the frontend to the correct shard at the correct time, and avoiding dropping any due to uncertainty as to where the player's state is at any time.
- A lot of plumbing code is required

[2011-05-17 20:27] huin commented on #48
The complications of having a player's state (including inventory) on the frontend is basically down to atomicity in picking up items, and other inventory interactions. This isn't an easy problem either, but it seems to be a simpler problem in comparison to the above problems.

[2011-05-21 16:48] huin commented on #48
Closing this issue. I'm not going to do it at the present time for the aforementioned reasons.

[2011-05-21 16:48] #48 closed, assigned to huin

[2011-05-21 16:49] huin commented on #47
This has been progressing. There's a trail of debris in its wake, but I'm confirming that the server is working at each stage. There have been a few blind alleys in my coding. Currently the branch to watch for this is shard_refactor_no_player_split.

[2011-05-22 21:42] nictuku commented on #42
https://github.com/nictuku/chunkymonkey/tree/style-candidate has my proposed changes. It's synced with your shard_refactor_no_player_split branch, but I'll wait for the refactor to slow down or finish before I fix the offending names, then request a pull.

./src/chunkymonkey/slot.go:27:16: Bad name for method "GetItemTypeId"
./src/chunkymonkey/slot.go:36:16: Bad name for method "GetAttr"
./src/chu

[2011-05-23 08:37] huin commented on #42
Awesome. I'm wondering if it might be acceptable to merge the branch back into master soon. There's still some changes that need to happen, but I think that the majority of larger changes are done, and I'm into the stage of reconnecting a bunch of broken wires (most notably not being able to pick up items or interact with workbenches).

[2011-05-23 12:58] nictuku commented on #42
I wouldnt mind if you merge to master, even if it breaks things.
On May 23, 2011 10:37 AM, "huin" <
reply@reply.github.com>
wrote:

[2011-05-23 18:54] huin commented on #42
Okay, I've merged that lot to master. Feel free to merge in the style checker changes :)

[2011-05-24 07:52] huin commented on #25
I've found that test case that failed and mysteriously stopped failing (I thought at the time it was a dirty tree). Turns out that it's an architecture difference causing it. I modified the tests to output with %x instead of %q to make the hex dump easier to read:

[code]

Or with added spaces around each metadata section:

[code]

It looks like the maps of entity metadata are iterating in differe

[2011-05-25 23:46] nictuku commented on #42
I spend some time today doing a small refactoring to get rid of GetFoo() methods and cleanup entity/item/mob a bit. I thought it would be piece of cake, but I got sidetracked with other 'easy fixes', I broke lots of stuff and didn't achieve anything by the end of the day :-P.

So, to make my life easier I'll do small incremental fixes instead, while reviewing the existing code. That is, expect "ma

[2011-05-26 06:20] huin commented on #42
That's fine, we can live with that for a bit longer :)
On 26 May 2011 00:46, "nictuku" <
reply@reply.github.com>
wrote:

[2011-05-26 18:21] huin opened #50 "Update to protocol Beta 1.6"

[2011-05-26 18:21] #47 closed, assigned to huin

[2011-05-27 21:21] huin commented on #50
Whilst the new packets have unknown meaning, the proto package should be able to at least parse the packets and thus not lose sync.

[2011-05-27 21:21] #50 closed, assigned to huin

[2011-05-28 12:42] huin commented on #30
Marking this as done... Have made a large set of refactorings to make the code more ready for a distributed environment.

[2011-05-28 12:42] #30 closed, assigned to nobody

[2011-05-28 12:44] huin opened #52 "Fix workbench crafting after refactor"

[2011-05-28 12:45] huin commented on #18
I believe this to be complete. The recipe data has been input, even if nothing is using it yet.

[2011-05-28 12:45] #18 closed, assigned to huin

[2011-05-28 17:36] nictuku commented on #30
Very well done!

[2011-05-30 15:30] huin commented on #52
Fixed in remove_inventory branch - now merged to master.

[2011-05-30 15:30] #52 closed, assigned to huin

[2011-06-08 21:00] #17 closed, assigned to huin

[2011-06-18 11:45] #24 closed, assigned to huin

[2011-06-20 19:23] ghost commented on #38
(After I fixed some problems with my computer and Linux I got to think about Chunkymonkey a bit more.)

Here is a list of possible mods I can think of which would required event hook ups and issue commands to alternate the world:

Permission/Area protection:
Would require to hook into chunk objects to prevent or allow destruction attempts of chunks from players.

NPC mods:
Full control over NPC's,

[2011-06-20 20:13] huin commented on #38
Ah, I wondered what had happened to you :) - I'll put you back on the contributor list.

Some good thoughts there, I broadly agree with them as features.

Although on the subject of player control, walk-speed is tricky. We can't really control it directly - the client just informs the server of its new positions and the server can move the client to positions. Although we could impose some sort of

[2011-06-20 21:48] huin opened #54 "Chunk generation should happen when chunk does not exist"

[2011-06-20 21:49] huin opened #55 "Chunk generation should be configurable"
At the very least a seed value should be read from configuration.

[2011-06-20 21:55] huin opened #56 "Items should be loaded from chunk store"

[2011-06-20 21:56] huin opened #57 "Mobs should be loaded from chunk store"

[2011-06-20 21:56] huin opened #58 "Chest/furnace etc. content should be loaded from chunk store"

[2011-06-20 21:58] huin opened #59 "Chunks should be able to store their data to store"
This includes mobs, items, inventory contents etc.

[2011-06-20 21:59] huin commented on #59
I'm vaguely inclined to do this after completing the issues to load data from chunks so that data is not destroyed when people use versions of chunkymonkey from Git.

[2011-06-20 22:02] huin opened #60 "Design protocol for server components to use to communicate"
This design work should naturally happen before anything else in this milestone (even if not in detail). Work on this should help make clear how the multiple servers architecture will look.

[2011-06-20 22:04] huin commented on #60
I'm thinking of using protobufs for this, but am open to ideas on this.

Protobufs are good from my perspective as I don't know that we'll be using synchronous-style RPC calls, and protobufs do not enforce them. They are wire-efficient and allow for versioning.

[2011-06-20 22:06] huin commented on #27
It might be worth getting the server to send a packet after an illegal placement to tell the client that no items have been taken and the block which would have changed has not.

[2011-06-20 22:15] huin commented on #42
A lot of these names should be fixable now that the refactor is over.

[2011-06-21 15:08] jnwhiteh commented on #27
I am unable to reproduce this issue, but I do have some information on your follow-up. This is the intercept logs when you try to place a block against/next to a torch:

2011/06/21 12:26:27.140151 [2](C->S) PacketPlayerBlockInteract(itemId=35, blockLoc=&{-202 64 -604}, face=1, amount=8, data=0)
2011/06/21 12:26:27.140214 [2](C->S) PacketPlayerBlockInteract(itemId=35, blockLoc=&{-1 -1 -1}, face=-1,

[2011-06-21 15:18] huin commented on #27
I think I understand some of the problem, so I'll explain a bit of my
understanding to help avoid you investigating possible knowns...

Both the client and the server model changes to the inventory, so for
the case where the item is consumed - it's only consumed on the
client's view of the inventory. The server can rectify this by sending
an update for the slot. (Although this can be tricky - as t

[2011-06-21 15:27] jnwhiteh commented on #27
On Tue, Jun 21, 2011 at 4:18 PM, huin
reply@reply.github.com
wrote:

I understand this, but that's not what I'm observing in the inspect
logs. The entire exchange consists of the two packets I posted above
and the server does not appear to respond in any way. Admittedly, I'm
not entirely sure of everything that's going on, but that's what I'm
seeing.

Yes, this is something I've seen as well. Is i

[2011-06-21 15:56] huin commented on #27
Tsk, I should have read your comment better, sorry.

http://mc.kev009.com/Protocol#Player_Block_Placement_.280x0F.29
mentions a "special" packet like the second that you see. It is
certainly very odd that the client decides to consume an item when it
potentially has the knowledge that this is a special case (as
evidenced by the -1 values). You might well be looking at the original
problem that I s

[2011-06-21 16:03] jnwhiteh commented on #27
Very interesting, I'll have to investigate further. If you have any consumable items that might be good for me to look at, feel free to tag me in those issues. I'm fairly good at getting things done in my spare time.

The mod issue is very very complicated given the current structure and what has been requested, I"ll respond accordingly once I have a chance to craft a reasonable response.

[2011-06-21 19:03] huin commented on #56
Pointers on implementing this (also applicable to loading other things from chunk store):
- chunkymonkey/chunkstore.IChunkReader.GetRootTag
- The inspectlevel utility to look at what's in a chunk
- chunkymonkey/shardserver.newChunkFromReader

Feel free to ask questions on this, or unassign if not to your taste.

[2011-06-22 09:06] arsatiki commented on #60
Can you outline some characteristics of the communication? I'd avoid protobufs or any other non-textual format, if performance is not the #1 priority. (And if performance is #0 priority, then custom format maybe preferable!)

Here's some quick questions that can clarify the situation.
- What sort of data are you transmitting? Commands only, simple data, complex data?
- How large messages are we ta

[2011-06-23 22:54] jnwhiteh commented on #56
I've completed this change (for items only, without velocity data) and this can be viewed and tested in commit https://github.com/jnwhiteh/chunkymonkey/commit/bb282fae8b8b49689cd60839aca8bca25bd026d0 on my fork. I haven't pushed it here because it includes a terminology change that I'd like someone to look at before pushing it to the main repository.

The code works properly for the cases I have t

[2011-06-24 12:55] jnwhiteh opened #63 "Remove 'godag' requirement for building chunkymonkey"
I've made a change in my fork that removes the dependency on the 'godag' program for building chunkymonkey. Instead we will be using [gb](https://github.com/skelterjohn/go-gb), which has the advantage that it can produce scripts and Makefiles that allow anyone to build the software without installing additional software.

The structure is a bit more stringent, with everything that is a package und

[2011-06-24 20:31] jnwhiteh commented on #63
I may need you to let me know the specifics of your normal workflows so we can make sure that's not interrupted.

[2011-06-24 20:32] jnwhiteh commented on #56
I've just implemented support for all of the known ObjectTypeIds, so we have mobs, items, and objects (minecarts, boats, etc.) working properly. The physics of the objects are not implemented so they're a bit weird, but they load properly. It's on my fork, again.

[2011-06-24 20:33] jnwhiteh commented on #57
This has been implemented in response to Issue #57

[2011-06-24 22:19] huin commented on #60
Sorry for the slow reply - have been away from Internet access for 3 days.

Protobuf's primary format is binary, see: http://code.google.com/apis/protocolbuffers/docs/encoding.html - but agreed - textual isn't good for various performance reasons.

I wouldn't claim performance is the top priority, although it's certainly high. I'd put some level of reliability and simplicity quite high as well.

W

[2011-06-25 10:45] huin commented on #60
Tsk, sorry, misread your comment about the textual bit - thought you were recommending binary formats and generally got mixed up, many apologies (that's what happens when I get home late after travel and try to do stuff!)

In general I'm in favour of text formats, but I believe that they will add a lot of overhead here (yes, premature optimization, etc.). Whilst text formats are easier to read, hu

[2011-06-25 12:24] huin commented on #63
I've been playing with this a bit, and I think I need a little more convincing. I'm in agreement that it would be good to remove the dependency for godag or something else, and this achieves that - so people wanting to test the server without installing too much can be satisfied - also the Makefile that I've had in place is getting rather ugly. However, it causes some costs elsewhere:

Here are so

[2011-06-25 15:41] #54 closed, assigned to huin

[2011-06-25 16:15] huin commented on #63
I've been merging other stuff into master, and playing a bit with the changes from your pull request. To avoid duplicating effort, I've put this work into the branch `jnwhiteh_build` in my repo.

[2011-06-25 16:31] huin commented on #63
Ah, another disadvantage I've noticed, with regards to my workflow at least... The old build system built from the project root, which meant that all error messages displayed paths to the files relative to that, which made things very handy to build from Vim, which would then just take me to the lines with the error. As a visual example of how this difference looks:

before:
src/chunkymonkey/chunk

[2011-06-25 21:38] jnwhiteh commented on #63
The restructuring in commit 236c6a4e284698e956ca makes quite a bit of headway to resolve this issue, as the repository now works with 'gb' as well. Our eventual hope is to create a set of robust makefiles that allow for a reasonable workflow (and compiling) without external tools, so leaving this issue open.

[2011-06-25 21:39] jnwhiteh commented on #56
Committed as 6a23429d465b294f7df6

[2011-06-25 21:39] #56 closed, assigned to jnwhiteh

[2011-06-25 21:39] jnwhiteh commented on #57
Committed as b5100f4d62f63f18f54a

[2011-06-25 21:39] #57 closed, assigned to jnwhiteh

[2011-06-25 22:43] huin opened #64 "Persist player state on logout/disconnect"
Player state currently includes:
- Position
- Inventory

Later on it will include health, being on fire, etc.

This must be made compatible with how the Notchian SMP server does its storage.

[2011-06-26 09:23] arsatiki commented on #60
Righty-o! It seems you have pretty much the same views on the topic as I do. The only point where I disagree is the amount of work needed for a textual protocol. It may require work in the beginning but saves a ton of work during debugging. Being able to netcat or telnet or wget to a server relieves more distributed system headaches than aspirin.

With a binary format, you'd probably have to roll

[2011-06-26 10:21] huin commented on #60
Yes, there's truth there in how much work there is. Textual protocols are less work to debug, but binary protocols are (at least, I believe) easier to write (with the other performance benefits listed). But anyway, the purpose of this issue is to foster chat about this stuff, so this is all useful discussion.

Actually I've just done a bit of looking, and protobufs have a text format as well that

[2011-06-26 11:08] huin opened #65 "Improve world generation"
The current world generation code produces acceptable-looking landscapes, but nothing terribly exciting or varied. It needs to produce caves, biomes, vegetation, dungeons, etc.

[2011-06-26 11:08] #55 closed, assigned to huin

[2011-06-26 14:16] huin opened #66 "Design and implement command framework"
Players should be able to issue commands like /give, /tp, etc. - the commands to handle these should fit into a modular framework with support for permissions checking.

[2011-06-26 17:57] jnwhiteh opened #69 "Load player inventory from chunk store"

[2011-06-27 17:33] uriel commented on #60
I prefer textual formats (custom or JSON), but have you considered using gobs?

http://blog.golang.org/2011/03/gobs-of-data.html

You might also find useful the rpc package (which uses gobs): http://golang.org/pkg/rpc/

[2011-06-27 19:16] huin commented on #60
Hadn't considered them that much, I must admit. I briefly played with netchan which uses them, although I think netchan might be a bit immature (at least - I ran into some problems with it).

RPC - maybe. I don't know if I want a request-reply model, I've currently been working with requests without replies. It's a possibility, though.

[2011-06-29 21:06] huin opened #70 "NBT writing"

[2011-06-30 11:38] jnwhiteh commented on #69
I'll probably take a cue from what you did with position, etc. and write a nbt function to read in an inventory in the hopes that it can be re-used for chests, dispensers, furnaces, etc. I'll do some investigation first to get a better idea, of course =)

[2011-06-30 19:35] huin commented on #69
I'm pondering other things like having converting to/from NBT as methods on mobs etc. - although undecided.

[2011-06-30 19:46] jnwhiteh commented on #69
Seems like perhaps we could have an interface for nbt.Reader and nbt.Writer? Then I could implement those methods for Inventory, Entities, etc. Just a thought.

[2011-06-30 20:38] huin commented on #69
Actually that sounds like the right direction to be going. There's obviously going to have to be a sense of context for them. Hm. This actually sounds like we might have a nice recursive model of sorts... Chunks would implement it, the things inside chunks would implement it as well, which provides appropriate context - chunks know their own NBT structure, and thus when to delegate parts of their

[2011-07-01 20:51] huin commented on #70
Complete, and also adds unit tests for the NBT module :)

[2011-07-01 20:51] #70 closed, assigned to huin

[2011-07-03 08:54] ghost opened #71 "Giving player 64 (door)"
Giving a player 64 (door) gives him the bottom of a door instead of a complete door.
This could be a nice feature for garden doors (small doors). I don't know if this is a bug in the client or in our server.
I will test it with the standard server at some time.

[2011-07-03 08:58] huin commented on #71
Cooincidently enough I noticed something similar last night while manually testing some things. I fixed the door recipes, which were emitting the blocks, but not the door items. I've just pushed this. Item 64 doesn't really make sense to be in the inventory under normal circumstances, but item 324 does. However, this obviously means that we need to implement item placement where the item creates b

[2011-07-11 16:34] jnwhiteh commented on #71
64 is the data value for the bottom half of the door. This matches the behaviour on the Notchian server, so I'm closing this issue.

[2011-07-11 16:34] #71 closed, assigned to nobody

[2011-07-11 16:34] jnwhiteh commented on #6
Could you provide any other information about what you want to happen here. It may be something isolated enough and of a size that I can take care of it.

[2011-07-11 16:41] jnwhiteh commented on #41
Any update on the issues with intercept that you note here? I'm having the same problem where I don't record those packets (although I record others afterwards, but I only see the PacketPlayerBlockHit). I was going to look at this issue but ran into a bit of a wall =)

[2011-07-11 16:57] jnwhiteh opened #73 "Cannot intercept chunkymonkey"
If I run an intercept on a chunkymonkey (HEAD) server, I cannot properly login:

2011/07/11 17:55:45.981646 Listening on :25565
[1] 2011/07/11 17:55:50.052700 Client connected from 127.0.0.1:51723
[1] 2011/07/11 17:55:50.052778 Creating relay to server localhost:25566
[1] 2011/07/11 17:55:50.054442 Connected to server
[1](C->S) 2011/07/11 17:55:50.055424 ServerReadHandshake(username=jnwhiteh)

The

[2011-07-11 17:04] huin commented on #73
I think I had a similar problem with some code I pushed to head on Sunday. I
thought I had pushed a fix for this. Is it still not working?

[2011-07-11 17:06] jnwhiteh commented on #73
This is synched with your HEAD following a make clean/make.

[2011-07-11 17:07] huin commented on #6
Yes, this is tiny and straightforward. It's probably only of use to code
that uses chunkymonkey/proto for client connections. The packet reader for
receiving map chunks doesn't extract the arrays.

[2011-07-11 17:07] huin commented on #73
Okay, clearly I've broken something. Will look when I get home from work.

[2011-07-11 19:15] huin commented on #73
Works okay for me. One thing I'm curious about is what parameters you used to start the server with. The intercept proxy looks like it's been run with localhost:25565 and localhost:25566 - which implies that the server should have specified: -addr :25566 and -http_addr :$ANYTHING_ELSE

The default port for the HTTP server is 25566, which the intercept might be connecting to instead of the game por

[2011-07-11 19:18] huin commented on #6
Point of note is that I've not done this yet as it's not been a priority. It's more for completeness of the chunkymonkey/proto package as both a server and client capable library. Strictly speaking, both readMapChunk and WriteMapChunk should be able to send subsets of a chunk, as described in the protocol doc - although this might needlessly complicate things, server-wise.

[2011-07-11 19:30] jnwhiteh commented on #73
ah, okay.. I'll take a look at that.

[2011-07-11 19:31] jnwhiteh commented on #73
Yeah, I normally do it in the other direction, dont' know why I did it this way this time. Sorry about that!

[2011-07-11 19:31] #73 closed, assigned to nobody

[2011-07-11 20:15] #69 closed, assigned to huin

[2011-07-12 08:22] huin commented on #41
Was this a question for me?

[2011-07-12 08:24] jnwhiteh commented on #41
Not unless you know the answer, I'm addressing the issue nictuku raises above where intercept is missing these additional packets. Either that or its a red herring, just trying to see about getting this finally implemented now that we have inventory loading working.

[2011-07-12 08:28] huin commented on #41
I don't believe that it's missing packets. It certainly cannot 'miss' a
packet without losing sync on the whole stream. It might not be reporting
packets on the log, although I think that's unlikely.

[2011-07-12 08:29] jnwhiteh commented on #41
Alright, well when I see a dropped item I see the singular packet that he's reporting and none of the others. I guess I'll run with that then.

[2011-07-17 19:49] jnwhiteh commented on #41
This has been implemented in 858a6edcbef785993d74. Thanks to nictuku for the original code, huin for working out the proper vector!

[2011-07-17 19:49] #41 closed, assigned to nictuku

[2011-07-19 11:46] jnwhiteh opened #76 "Implement /tp command"
Here's the intercept log from a teleport:

[code]

[2011-08-07 16:14] huin commented on #64
jnwhiteh has completed this.

[2011-08-07 16:14] #64 closed, assigned to jnwhiteh

[2011-08-07 18:53] ghost commented on #66
Closing this since I implemented a basic one, huin and jnwhiteh improved it. The "/tp"-command is tracked with issue #76 .

[2011-08-07 18:53] #66 closed, assigned to nobody

[2011-08-21 15:02] huin commented on #58
Furnaces and chests loading correctly. Still need to support other tile entity types.

[2011-08-23 21:23] #58 closed, assigned to huin

[2011-08-23 21:23] #59 closed, assigned to huin

[2011-10-17 20:19] skelterjohn opened #86 "a crash w/ stack trace"
calypso:chunkymonkey jasmuth$ bin/chunkymonkey w1/
2011/10/17 16:08:43 Connection closed server list poll
2011/10/17 16:08:46 Client 127.0.0.1:65395 connected as skelterjohn
2011/10/17 16:08:46 Client 127.0.0.1:65395 passed minecraft.net authentication
2011/10/17 16:08:57 Couldn't place a leaf block (255,75,7)
2011/10/17 16:08:57 Couldn't place a leaf block (255,75,8)
2011/10/17 16:08:57 Couldn't

[2011-10-17 20:26] huin commented on #86
Commit d876da4048e0b20d130d2f5c953b196b7a64aad6 should fix this. Reopen if this crops up again, but it's a race condition so might not.

[2011-10-17 20:27] #86 closed, assigned to nobody

[2014-06-12 11:00] chno9133 opened #89 "Cannot join server."
When I'm trying to join, server close the connection with message:
Connection closed unexpected packet ID: 0x0f

[2014-06-12 12:05] huin commented on #89
I can't say I'm surprised, sadly. The Minecraft protocol changed _massively_ after I stopped maintaining the code - starting using encryption and other changes.

I'm happy for anyone to take this project, fork it and bring it up to date. The protocol docs I was using were: http://wiki.vg/Protocol - which have certainly been updated since I was working from them.